/* UC1 */
body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 65%;
}    

.logo-content-img{
    border: solid 0px #42515f;
}

.emp-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat";
    letter-spacing: 0px;
    color: peru;
    text-transform: capitalize;
}

.emp-payroll{
    color:midnightblue;
}
*{box-sizing: border-box;}

/* UC2 */
.main-content{
    display: flex;
    flex-direction: column;
    min-height: calc(40 - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.emp-detail-text{
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    width: 55%;
}

.add-button{
    font: normal normal bold 22px/29px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: orange;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}